# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# FastAPI / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / frontend tooling
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Logs
*.log

# Local env files
.env
.env.*

#Fotos pessoais
*.png
*.jpg
